/**************************************************
 Main
**************************************************/
.mkapi-node p {
  margin-top: 2px;
  margin-bottom: 6px;
}

.mkapi-node p:last-child {
  margin-bottom: 2px;
}

.mkapi-node pre {
  /* background: none; */
  /* border: none; */
  /* padding: 0px; */
  /* margin: 5px; */
}

.mkapi-node code {
  /* background: none; */
  /* border: none; */
  /* padding: 0px 2px; */
  /* color: #0044EE; */
  /* font-size: 0.95rem; */
}

.mkapi-node pre code {
  /* background: none; */
  /* font-size: 0.80rem; */
  /* padding: 10px; */
  margin-left: 20px;
  line-height: 1.4em;
}

/**************************************************
 Node
**************************************************/
.mkapi-node {
  margin-left: 0px;
  margin-bottom: 30px;
}

div.mkapi-object {
  background: #F0F0F0;
  border-left: solid 4px #7777FF;
  display: flex;
  align-items: baseline;
  padding: 5px;
  font-size: 0.7rem;
}

h1.mkapi-object-package, h1.mkapi-object-module,
h2.mkapi-object-package, h2.mkapi-object-module,
h3.mkapi-object-package, h3.mkapi-object-module {
  background: none;
  border-left: none;
  font-weight: normal;
  margin-bottom: 0px;
}

.mkapi-object-kind {
  margin-right: 0.3rem;
  font-weight: bold;
  color: #888888;
  font-size: 90%;
}

h1 .mkapi-object-kind-package, h1 .mkapi-object-kind-module,
h2 .mkapi-object-kind-package, h2 .mkapi-object-kind-module,
h3 .mkapi-object-kind-package, h3 .mkapi-object-kind-module {
  font-size: 60%;
}

code.mkapi-object-prefix {
  font-weight: bold;
  color: #333333;
}

code.mkapi-object-prefix a,
span.mkapi-object-prefix a {
  color: inherit;
}

code.mkapi-object-prefix a:hover {
  background: #FFDDCC;
}

code.mkapi-object-name {
  font-weight: bold;
  color: #333333;
}

code.mkapi-object-name a,
span.mkapi-object-name a {
  color: inherit;
}

code.mkapi-object-name a:hover {
  background: #FFDDCC;
}

.mkapi-object-signature {
  font-weight: bold;
  color: #5577AA;
}

/**************************************************
 Docstring
**************************************************/
.mkapi-docstring {
  margin-left: 20px;
}

h1 ~ .mkapi-docstring,
h2 ~ .mkapi-docstring,
h3 ~ .mkapi-docstring {
  margin-left: 0px;
}

.mkapi-section {
  margin-top: 2px;
  margin-bottom: 15px;
  padding: 0px;
}

.mkapi-section-name {
  padding: 4px 8px;
  color: #333333;
}

.mkapi-section-name-body {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.mkapi-section-name-parameters,
.mkapi-section-name-attributes,
.mkapi-section-name-returns,
.mkapi-section-name-yields,
.mkapi-section-name-raises,
.mkapi-section-name-methods,
.mkapi-section-name-functions,
.mkapi-section-name-classes {
  background: #F0F0F0;
  border-bottom: solid 2px #7777FF;
}

.mkapi-section-name-note, .mkapi-section-name-notes {
  color: white;
  background: #33AA33;
}

.mkapi-section-name-note::before,
.mkapi-section-name-notes::before {
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  font-weight: 900;
  padding-right: 3px;
  color: white;
}

.mkapi-section-name-warning, .mkapi-section-name-warnings {
  color: white;
  background: #FF6666;
}

.mkapi-section-name-warning::before,
.mkapi-section-name-warnings::before {
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  font-weight: 900;
  padding-right: 3px;
  color: white;
}

.mkapi-section-body {
  padding: 4px 8px;
}

.mkapi-section-body-note, .mkapi-section-body-notes {
  background: #EEFFEE;
  padding: 8px 12px;
}

.mkapi-section-body-warning, .mkapi-section-body-warnings {
  background: #FFEEEE;
  padding: 8px 12px;
}

.mkapi-section-body-example, .mkapi-section-body-examples {
  background: #EEEEEE;
  padding: 8px 12px;
}


.mkapi-object pre,
.mkapi-section-body-example pre,
.mkapi-section-body-examples pre {
  background: none;
  border: none;
  padding: 0px;
  margin: 5px;
}

.mkapi-object code {
  background: none;
  border: none;
  padding: 0px 0px;
  font-size: 0.9rem;
}

.mkapi-section-body-example code,
.mkapi-section-body-examples code {
  background: none;
  border: none;
  padding: 0px 0px;
  font-size: 0.83rem;
}

/**************************************************
 Bases
**************************************************/
.mkapi-section-bases {
  margin-top: 0px;
  margin-left: 8px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
}

.mkapi-section-name-bases {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
}

.mkapi-section-name-bases .mkapi-section-name-body {
  margin: 0px 3px 0px 0px;
  padding: 0px;
  font-size: 0.85rem;
  font-weight: normal;
  color: gray;
  letter-spacing: normal;
}

.mkapi-section-name-bases .mkapi-section-name-body::after {
  content: ":"
}

.mkapi-section-body-bases {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #DDDDDD;
}

.mkapi-base {
  margin: 0px 3px 0px 0px;
  font-size: 0.85rem;
  padding: 0px;
}

.mkapi-base::after {
  content: ", ";
  color: gray;
}

.mkapi-base:last-child::after {
  content: "";
}

/**************************************************
 Args
**************************************************/
.mkapi-node ul.mkapi-args-list {
  margin: 0px;
  padding-left: 0px;
}

.mkapi-node ul.mkapi-args-list li {
  margin-left: 30px;
  text-indent: -20px;
  list-style: none;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.25em;
}

code.mkapi-args-name {
  font-weight: bold;
  color: #000000;
  border: none;
  font-size: 0.9rem;
  padding: 0px;
}


.mkapi-args-name a {
  color: inherit;
}

.mkapi-args-name a:hover {
  background: #FFDDCC;
}


.mkapi-args-type {
  color: #8888EE;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1rem;
}

.mkapi-args-type a {
  color: inherit;
  font-weight: bold;
}

.mkapi-args-type a:hover {
  background: #FFDDCC;
}

.mkapi-args-dash {
  color: #AABBAA;
}


code.mkapi-args-name::after {
  font-family: sans-serif;
  font-size: 0.7rem;
  color: gray;
}

code.mkapi-args-name.readwrite_property::after {
  content: " [RW]";
}

code.mkapi-args-name.readonly_property::after {
  content: " [RO]";
}

code.mkapi-args-name.classmethod::after {
  content: " [C]";
}

code.mkapi-args-name.staticmethod::after {
  content: " [S]";
}

code.mkapi-args-name.generator::after {
  content: " [G]";
}

code.mkapi-args-name.dataclass::after {
  content: " [D]";
}

/**************************************************
 Members
**************************************************/
.mkapi-members {
  margin-left: 40px;
}

.mkapi-member {
}

.mkapi-members .mkapi-node {
  margin-bottom: 0px;
}
