/**************************************************
 Main
**************************************************/
code {
  color: #069;
  border: none;
  font-size: 0.9rem;
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mkapi-node {
  margin: 2px;
  padding: 2px;
  border: 1px solid pink;
}

.mkapi-header {
  margin: 2px;
  padding: 2px;
  border: 1px solid magenta;
  display: flex;
}

.mkapi-kind {
  margin: 2px;
  padding: 2px;
  border: 1px solid green;
}

.mkapi-name {
  margin: 2px;
  padding: 2px;
  border: 1px solid blue;
}

.mkapi-docstring {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
}

.mkapi-members {
  margin: 2px;
  padding: 2px;
  border: 1px dashed red;
}

.mkapi-member {
  margin: 2px;
  padding: 2px;
  border: 1px dashed blue;
}
