/**************************************************
 Main
**************************************************/
code {
  color: #069;
  border: none;
  font-size: 0.9rem;
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}
