site_name: MkAPI
site_url: https://daizutabi.github.io/mkapi/
site_description: API documentation with MkDocs.
site_author: daizutabi
repo_url: https://github.com/daizutabi/mkapi/
repo_name: daizutabi/mkapi
edit_uri: edit/main/docs/
theme:
  name: material
  font:
    text: Fira Sans
    code: Fira Code
  icon:
      repo: fontawesome/brands/github
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - content.tooltips
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
plugins:
  - search:
  - mkapi:
      config: config.py
      exclude:
        - altair.vegalite
      debug: true
      # filters: [plugin_filter]
markdown_extensions:
  - pymdownx.magiclink
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
nav:
  - index.md
  - Usage:
    - usage/object.md
    - usage/page.md
  - API: <api>/mkapi.***
  - Examples: <api>/examples.**
  - Schemdraw: <api>/schemdraw.***
  # - Polars: <api>/polars.***
  # - Altair: <api>/altair.***