.mkapi-object-heading a {
  color: unset;
}

.mkapi-object-kind {
  color: #888;
  font-size: 90%;
  font-style: italic;
}

.mkapi-signature .paren,.comma,.collon,.eq {
  color: #777;
}
.mkapi-signature .default {
  color: #777;
}
.mkapi-signature .ann {
  color: #777;
}
.mkapi-signature .star {
  color: #d51a1a;
}
.mkapi-signature .sep {
  color: #d51a1a;
}
.mkapi-signature .arrow {
  color: #d51a1a;
}
.mkapi-signature .posonlyargs,.args,.vararg,.kwonlyargs,.kwarg {
  font-style: italic;
}
.mkapi-signature .self {
  font-style: italic;
  color: #d51a1a;
}

.mkapi-section-name {
  color: #555;
}
.mkapi-section-item {
  font-size: 90%;
}
.mkapi-item-name {
  font-weight: 700;
}
.mkapi-item-type,.mkapi-object-type {
  color: #777;
}

.mkapi-object-body code {
  font-family: monospace;
}