.mkapi-object-heading a {
  color: unset;
}

.mkapi-object-kind {
  color: #888;
  font-size: 90%;
  font-style: italic;
}

.mkapi-signature .arg {
  font-style: italic;
}
.mkapi-signature .default {
  color: #777;
}
.mkapi-signature .ann {
  color: #777;
}
.mkapi-signature .return {
  color: #777;
}
.mkapi-signature .paren,.comma,.colon,.equal {
  color: #999;
}
.mkapi-signature .star,.sep,.arrow {
  color: #999;
}

.mkapi-section-name {
  color: #555;
}
.mkapi-section-item {
  font-size: 90%;
}
.mkapi-item-name {
  font-weight: 700;
}
.mkapi-item-type,.mkapi-object-type {
  color: #777;
}

.mkapi-object-body code {
  font-family: monospace;
}

.md-typeset .admonition.deprecated,
.md-typeset details.deprecated {
  border-color: #ff5252;
}
.md-typeset .deprecated > .admonition-title,
.md-typeset .deprecated > summary {
  background-color: #ff52521a;
}
.md-typeset .deprecated > .admonition-title::before,
.md-typeset .deprecated > summary::before {
  background-color: #ff5252;
  -webkit-mask-image: var(--md-admonition-icon--info);
          mask-image: var(--md-admonition-icon--info);
}