{{ doc.text.markdown|safe }}

{% for section in doc.sections -%}
{% if section.name.markdown and not section.kind -%}
<p class="mkapi-section"><span class="mkapi-section-name">{{ section.name.markdown|safe }}</span></p>
{%- endif %}
{{ section.text.markdown|safe }}
{% if section.items -%}
<ul markdown="1">
{% for item in section.items -%}
<li markdown="block">
{% if item.name.markdown -%}
<span class="mkapi-item-name">{{ item.name.markdown|safe }}</span>
{%- endif -%}
{%- if item.name.markdown and item.type.markdown %} : {% endif %}
{% if item.type.markdown -%}
<span class="mkapi-item-type">{{ item.type.markdown|safe }}</span>
{%- endif -%}
{%- if item.text.markdown %}{% if item.name.markdown or item.type.markdown %}&mdash;{% endif %}
{{ item.text.markdown|safe }}
{% endif -%}
</li>
{% endfor -%}
</ul>
{% endif %}
{% endfor %}