<p class="mkapi-header" id="{{ id }}" markdown="1">
<span class="mkapi-header-name">{{ fullname|safe }}</span>
<span class="mkapi-header-link">[{{ namespace }}][__mkapi__.__{{ namespace }}__.{{ id }}]</span>
</p>
