<p class="mkapi-header" id="{{ fullname.str }}" markdown="1">
<span class="mkapi-header-name">{{ fullname.markdown|safe }}</span>
<span class="mkapi-header-link">[{{ namespace }}][__mkapi__.__{{ namespace }}__.{{ fullname.str }}]</span>
</p>
