<p class="mkapi-header" id="{{ obj.fullname.str }}" markdown="1">
<span class="mkapi-header-name">{{ obj.fullname.markdown|safe }}</span>
<span class="mkapi-header-link">[{{ kind }}][__mkapi__.__{{ kind }}__.{{ obj.fullname.str }}]</span>
</p>
