# ::: {{ module.name }}

{{ module.kind }}

{% for cls in module.classes %}
## ::: {{ cls.fullname }}
{% endfor -%}
{% for func in module.functions %}
## ::: {{ func.fullname }}
{% endfor -%}