# ::: {{ module.name }}

{{ module.kind }}

## Attributes

{% for attr in module.attributes -%}
### ::: {{ attr.fullname }}
{% endfor -%}

## Classes

{% for cls in module.classes -%}
### ::: {{ cls.fullname }}
{% endfor -%}

## Functions

{% for func in module.functions -%}
### ::: {{ func.fullname }}
{% endfor -%}