<p class="mkapi-object" id="{{ id }}" markdown="1">
<span class="mkapi-object-link">
[{{ namespace }}][__mkapi__.__{{ namespace }}__.{{ obj_id }}]
<span class="mkapi-document-toggle" title="Toggle all docs">[-]</span>
</span>
{%- if kind  -%}
<span class="mkapi-object-kind{% if parent %} mkapi-parent-toggle{% endif %}"
{%- if parent %} title="Toggle class names"{% endif -%}
>{{ kind }}</span>
{%- endif %}
{% if parent -%}
<span class="mkapi-object-parent">
[{{ parent }}][__mkapi__.{{ parent_id }}]<span class="mkapi-dot">.</span></span>
{%- endif -%}
<span class="mkapi-object-name">[{{ name }}][__mkapi__.{{ obj_id }}]</span>
{%- if signature -%}
<span class="mkapi-signature">
{%- for name, kind in signature -%}
<span class="mkapi-{{ kind }}">{{ name|safe }}</span>
{%- endfor -%}
</span>
{%- endif %}
</p>