<p class="mkapi-object" markdown="1">
<span class="mkapi-object-kind">{{ obj.kind }}</span>
<span class="mkapi-object-name">
{%- for name in names -%}
<span class="mkapi-{% if loop.last %}name{% else %}prefix{% endif %}">{{ name }}</span>
{%- if not loop.last %}<span class="mkapi-dot">.</span>{% endif -%}
{%- endfor -%}
</span>
{%- if signature -%}
<span class="mkapi-signature">
{%- for name, kind in signature -%}
<span class="mkapi-{{ kind }}">{{ name|safe }}</span>
{%- endfor -%}
</span>
{%- endif %}
</p>
{%- if bases -%}
<p class="mkapi-object-bases" markdown="1">Bases :
{% for base in bases %}<span class="mkapi-object-base">{{ base|safe }}</span>
{%- if not loop.last %}<span class="mkapi-comma">, </span>{% endif -%}
{%- endfor -%}
</p>
{%- endif %}