{% from 'macros.jinja2' import base_type -%}

<ul class="mkapi-items">
{% for item in section.items -%}
{% if 'strict' in filters or item.description.html -%}
<li{% if item.kind %} class="{{ item.kind.replace(' ', '-') }}"{% endif %}>{% if item.name %}<code class="mkapi-item-name">{{ item.html|safe }}</code>{% endif %}
{{ base_type(item) }}
<span class="mkapi-item-dash">&mdash;</span> <span class="mkapi-item-description">{{ item.description.html|safe }}</span></li>
{% endif %}
{% endfor %}
</ul>
