{% macro select_type(base) -%}
  {% if base.type.html %}{{ base.type.html|safe }}{% else %}{{ base.type.markdown }}{% endif %}
{%- endmacro %}

{% macro base_type(base) -%}
  {% if base.type %}<span class="mkapi-args-type">({{ base.type.html|safe }})</span>{% endif %}
{%- endmacro %}

{% macro object_type(object) -%}
  {% if object.type %}<span class="mkapi-args-type"> &#x2192; {{ select_type(object) }}</span>{% endif %}
{%- endmacro %}

{% macro object_prefix(object, url, upper) -%}
  {% if url %}<a href="{{ url }}">{% endif -%}
    {% if upper %}{{ object.prefix|upper }}{% else %}{{ object.prefix }}{% endif %}
  {%- if url %}</a>{% endif %}.
{%- endmacro %}

{% macro object_name(object, url, upper) -%}
  {% if url and object.id != url[1:] %}<a href="{{ url }}">{% endif -%}
    {% if upper %}{{ object.name|upper }}{% else %}{{ object.name }}{% endif %}
  {%- if url and object.id != url[1:] %}</a>{% endif %}
{%- endmacro %}

{% macro object_signature(signature, tag='span', in_code=False) -%}
{% if signature -%}
{% if in_code %}</code>{% endif -%}
{% set args = signature.split(',') -%}
{% for arg in args -%}
<{{ tag }} class="mkapi-object-signature">{{ arg|trim }}{% if not loop.last %},{% endif %}{% if not (in_code and loop.last) %}</{{ tag }}>{% endif %}{% if not loop.last %} {% endif %}
{%- endfor -%}
{%- endif %}
{%- endmacro %}

{% macro object_body(object, prefix_url, name_url, tag, upper) -%}
  {% if object.prefix and '.' not in object.qualname -%}
    <{{ tag }} class="mkapi-object-prefix">{{ object_prefix(object, prefix_url, upper) }}</{{ tag }}>
  {%- endif -%}
    <{{ tag }} class="mkapi-object-name">{{ object_name(object, name_url, upper) }}</{{ tag }}>{{ object_signature(object.signature, tag) }}
    {{ object_type(object) }}
{%- endmacro %}

{% macro object_member(name, url, signature) -%}
{% if url %}<a href="{{ url }}">{% endif -%}{{ name }}{% if url %}</a>{% endif %}{{ object_signature(signature, tag='code', in_code=True) }}
{%- endmacro %}
