# ![mkapi]({{ module.object.id }}{{ module_filter }}|link|plain)

{% if module.object.kind == 'module' -%}
{% for object in module.objects -%}
{% if 'noheading' in object_filter -%}
![mkapi]({{ object }}{{ object_filter }})
{% else -%}
## ![mkapi]({{ object }}{{ object_filter }})
{% endif -%}
{% endfor -%}
{% else -%}
{% for member in module.members -%}
{% if member.docstring -%}
## ![mkapi]({{ member.object.id }}{{ module_filter }}|apilink|plain)
{% endif -%}
{% endfor -%}
{% endif -%}
