# ![mkapi]({{ module.object.id }}{{ module_filter }}|plain|link|sourcelink)

{% if module.object.kind == 'module' -%}
{% for node in module.node.members -%}
{% if 'noheading' in object_filter -%}
![mkapi]({{ node.object.id }}{{ object_filter }}|link|sourcelink)
{% else -%}
## ![mkapi]({{ node.object.id }}{{ object_filter }}|link|sourcelink)
{% endif -%}
{% endfor -%}
{% else -%}
{% for member in module.members -%}
{% if member.docstring -%}
## ![mkapi]({{ member.object.id }}{{ module_filter }}|plain|apilink|sourcelink)
{% endif -%}
{% endfor -%}
{% endif -%}
