{% from 'macros.jinja2' import node_prefix, node_name, node_body, node_type %}

{{ prefix }} <span class="mkapi-node" id="{{ node.id }}"><span class="mkapi-node-header mkapi-node-header-{{ node.kind }}"> <span class="mkapi-node-kind mkapi-node-kind-{{ node.kind }}">{{ node.kind|upper }}</div>
      {% if node.prefix and node.kind not in ['method', 'readonly_property', 'readwrite_property'] %}
        <code class="mkapi-node-prefix">{{ node_prefix(node) }}</code>
         {%- endif -%}
      <code class="mkapi-node-name">{{ node_name(node) }}</code>
      {%- if node.signature %}<code class="mkapi-node-signature">{{ node.signature }}</code>{% endif %} {{ node_type(node) }}
  </div>
  {{ node_body(docstring, members) }}
</div>
