<div class="mkapi-node mkapi-node-depth-{{ node.depth }}">
  <div class="mkapi-node-header mkapi-node-header-{{ node.kind }}">
    <div class="mkapi-node-kind mkapi-node-kind-{{ node.kind }}">{{ node.kind|upper }}</div>
    <div class="mkapi-node-name">
      {% if node.depth == 1 and node.kind == 'module' %}<code class="mkapi-node-prefix">{{ node.prefix }}.</code>{% endif %}<code class="mkapi-node-basename">{{ node.name }}</code>{% if node.signature %}<code class="mkapi-node-signature">{{ node.signature }}</code>{% endif %}
      {% if node.kind == "readonly_property" and node.type %}<span class="mkapi-args-type">({{ node.type }})</span>{% endif %}
      {% if node.kind == "readwrite_property" and node.type %}<span class="mkapi-args-type">({{ node.type }})</span>{% endif %}
    </div>
  </div>
  {{ docstring|safe }}
  {% if members %}
    <div class="mkapi-members">
      {% for member in members %}
        <div class="mkapi-member">
          {{ member|safe }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
