.mkapi-node-depth-0 {
  border: 2px dashed #88AA88;
}

code {
  background: none !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

p code {
  font-size: 0.95rem !important;
}


.rst-content code {
    color: #3C4CE7;
    font-size: 0.95rem !important;
}

pre {
  background: none !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

div.highlight {
  border: none !important;

}
