name: Documentation
on:
  push:
    branches: [main]
    tags: ['*']
permissions:
  contents: write
jobs:
  deploy:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install Hatch
        run: pip install --upgrade hatch
      - name: Deploy documentation
        run: hatch run docs:deploy
